<turbo-frame id="navbar_frame">
  <div class="navbar">
    <% if authenticated? and not current_user.nil?%>
      <div>
        <%= link_to current_user, class: "user", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
          <%= render current_user%>
        <% end %>
        <%= link_to posts_path, class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M18.178 11.373a.7.7 0 0 1 .7.7v5.874c.027.812-.071 1.345-.434 1.68c-.338.311-.828.4-1.463.366H3.144C2.5 19.961 2 19.7 1.768 19.173c-.154-.347-.226-.757-.226-1.228v-5.873a.7.7 0 0 1 1.4 0v5.873c0 .232.026.42.07.562l.036.098l-.003-.01c.001-.013.03-.008.132-.002h13.84c.245.014.401 0 .456-.001l.004-.001c-.013-.053.012-.27 0-.622v-5.897a.7.7 0 0 1 .701-.7ZM10.434 0c.264 0 .5.104.722.297l8.625 8.139a.7.7 0 1 1-.962 1.017l-8.417-7.944l-9.244 7.965a.7.7 0 0 1-.915-1.06L9.689.277l.086-.064c.214-.134.428-.212.66-.212Z"/></svg>
        <% end %>
        <%= link_to "#", class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m20.34 9.32l-14-7a3 3 0 0 0-4.08 3.9l2.4 5.37a1.06 1.06 0 0 1 0 .82l-2.4 5.37A3 3 0 0 0 5 22a3.14 3.14 0 0 0 1.35-.32l14-7a3 3 0 0 0 0-5.36Zm-.89 3.57l-14 7a1 1 0 0 1-1.35-1.3l2.39-5.37a2 2 0 0 0 .08-.22h6.89a1 1 0 0 0 0-2H6.57a2 2 0 0 0-.08-.22L4.1 5.41a1 1 0 0 1 1.35-1.3l14 7a1 1 0 0 1 0 1.78Z"/></svg>
        <% end %>
        <%= link_to "#", class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21 14v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5v2H5v14h14v-5h2z"/><path d="M21 7h-4V3h-2v4h-4v2h4v4h2V9h4z"/></svg>
        <% end %>
        <%= link_to edit_user_path(current_user), class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1243 1236q-45-51-99-90t-116-67t-126-41t-134-14q-88 0-170 23t-153 64t-129 100t-100 130t-65 153t-23 170H0q0-120 35-231t101-205t156-167t204-115q-113-74-176-186t-64-248q0-106 40-199t109-163T568 40T768 0q106 0 199 40t163 109t110 163t40 200q0 66-16 129t-48 119t-75 103t-101 83q84 32 158 82t135 117l-90 91zM384 512q0 80 30 149t82 122t122 83t150 30q79 0 149-30t122-82t83-122t30-150q0-79-30-149t-82-122t-123-83t-149-30q-80 0-149 30t-122 82t-83 123t-30 149zm1464 384q42 0 78 15t64 41t42 63t16 79q0 39-15 76t-43 65l-717 717l-377 94l94-377l717-716q29-29 65-43t76-14zm51 249q21-21 21-51q0-31-20-50t-52-20q-14 0-27 4t-23 15l-692 692l-34 135l135-34l692-691z"/></svg>
        <% end %>
        <%= button_to logout_user_path, class: "button", method: :delete do %>
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 15 15"><path fill-rule="evenodd" d="M1 1h7v1H2v11h6v1H1V1Zm9.854 3.146l3.34 3.34l-3.327 3.603l-.734-.678L12.358 8H4V7h8.293l-2.147-2.146l.708-.708Z" clip-rule="evenodd"/></svg>
        <% end %>
      </div>
    <% else %>
      <%= link_to "Home", posts_path, class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } %>
      <%= link_to "Login", new_session_path, class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } %>
    <% end %>
  </div>
</turbo-frame>