<turbo-frame id="navbar_frame">
  <div class="navbar">
    <% if authenticated? and not current_user.nil?%>
      <div>
        <%= link_to current_user, class: "user", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
          <%= render current_user%>
        <% end %>
        <%= link_to posts_path, class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M18.178 11.373a.7.7 0 0 1 .7.7v5.874c.027.812-.071 1.345-.434 1.68c-.338.311-.828.4-1.463.366H3.144C2.5 19.961 2 19.7 1.768 19.173c-.154-.347-.226-.757-.226-1.228v-5.873a.7.7 0 0 1 1.4 0v5.873c0 .232.026.42.07.562l.036.098l-.003-.01c.001-.013.03-.008.132-.002h13.84c.245.014.401 0 .456-.001l.004-.001c-.013-.053.012-.27 0-.622v-5.897a.7.7 0 0 1 .701-.7ZM10.434 0c.264 0 .5.104.722.297l8.625 8.139a.7.7 0 1 1-.962 1.017l-8.417-7.944l-9.244 7.965a.7.7 0 0 1-.915-1.06L9.689.277l.086-.064c.214-.134.428-.212.66-.212Z"/></svg>
          <span>Home</span>
        <% end %>
        <%= button_to logout_user_path, class: "button", method: :delete do %>
          <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 15 15"><path fill-rule="evenodd" d="M1 1h7v1H2v11h6v1H1V1Zm9.854 3.146l3.34 3.34l-3.327 3.603l-.734-.678L12.358 8H4V7h8.293l-2.147-2.146l.708-.708Z" clip-rule="evenodd"/></svg>
          <span>Logout</span>
        <% end %>
      </div>
    <% else %>
      <%= link_to "Home", posts_path, class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } %>
      <%= link_to "Login", login_user_path, class: "button", data: { turbo_action: "advance", turbo_frame: "main_content" } %>
    <% end %>
    
  </div>
</turbo-frame>