<%= link_to user_path(user), data: { turbo_action: "advance", turbo_frame: "main_content" } do %>
  <div class="title">
    <div class="user">
      <% if user.avatar.attached? %>
        <%= image_tag url_for(user.avatar) %>
      <% else %>
        <%= image_tag "/default_avatar.png" %>
      <% end %>
      <h4>@<%= user.username %></h4>
    </div>
    <% if created_at > 0 %>
      <p style="padding-inline: 1rem;"><%= time_ago_in_words(created_at) %> ago</p>
    <% end %>
  </div>
<% end %>
