<turbo-frame id="main_content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <turbo-frame id="profile_avatar">
      <%= render @user%>
    </turbo-frame>

    <%= paginate @posts %>
    <div id="posts" class="center_content">
      <%= render partial: "posts/post", collection: @posts %>
    </div>
    <%= paginate @posts %>

    <% if @show_actions %>
      <%= link_to "Delete Account?", confirm_delete_path(@user), data: { turbo_action: "advance" } %>
    <% end %>
  </div>
</turbo-frame>