<turbo-frame id="main_content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <turbo-frame id="profile_avatar" style="color: white;">
      <%= render @user%>
    </turbo-frame>
    <div class="horizontal-div" style="width: 100%; gap: 0.5rem;">
      <%= link_to user_follows_path(@user), data:{ turbo_action: "advance", turbo_frame: "main_content" }, class: "white-button button" do%>
        <%= pluralize(@user.followed_users.count, "Following")%>
      <% end %>
      <%= link_to users_followers_path(@user), data:{ turbo_action: "advance", turbo_frame: "main_content" }, class: "white-button button" do%>
        <turbo-frame id="followers_count"> 
          <%= render "users/followers_of_user", user: @user %>
        </turbo-frame> 
      <% end %>
      <% if current_user == @user %>
        <%= link_to users_liked_posts_path, data:{ turbo_action: "advance", turbo_frame: "main_content" }, class: "white-button button" do%>
          Liked Posts
        <% end %>
      <% else %>
        <turbo-frame id="follow-button">
          <%= render "follow_button", user: @user, already_follow_user: already_follow_user?(@user) %>
        </turbo-frame>
      <% end %>
    </div>
    <% posts ||= @posts%>
    <%= paginate posts %>
    <div id="posts" class="center_content">
      <%= render partial: "posts/post", collection: posts %>
    </div>
    <%= paginate posts %>
  </div>
  <div class="spacer"></div>
</turbo-frame>