<turbo-frame id="main_content">
  <div style="display: flex; flex-direction: column; align-items: center;">
    <%= render @user%>
    <% if @show_actions %>
      <%= render "profile_actions" %>
      <div id="posts">
        <%= render partial: "posts/post", collection: @posts %>
      </div>
    <% end %>

    <% @user.posts.reverse.each do |post|%>
        <%= render "posts/post", post: post %>
    <% end %>

    <% if @show_actions %>
      <%= link_to "Delete Account?", confirm_delete_path(@user), turbo_action: "advance" %>
    <% end %>
  </div>
</turbo-frame>