<turbo-frame id="main_content">
  <div style="display: flex; flex-direction: column; align-items: center;">
  <h1>Forgot your password?</h1>
    <%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
    <%= form_with url: passwords_path do |form| %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %><br>
      <%= form.submit "Email reset instructions" %>
    <% end %>
    <%= link_to "Cancel", login_user_path, data: { turbo_action: "advance" } %>
  </div>
</turbo-frame>
