<div id = "post_form_container">
  <%= render "errors", post: post%>
  <%= form_with model: [ @user, post ], data: { turbo_stream: true } do |form| %>
    <%= form.file_field :post_image %>
    <%= form.text_field :title, placeholder: "Title"%>
    <%= form.text_field :description, placeholder: "Description"%>
    <%= form.submit "Create Post!"%>
  <% end %>
</div>
