<div id = "post_form_container">
  <%= render "errors", post: post%>
  <%= form_with model: [ @user, post ], data: { turbo_action: "advance" } do |form| %>
    <% unless action == "Update" %>
      <%= form.file_field :post_image %>
    <% end %>
    <%= form.text_field :title, placeholder: "Title"%>
    <%= form.text_area :description, placeholder: "Description"%>
    <%= form.submit "#{action} post" %>
  <% end %>
</div>
