<% post ||= @post %>
<div class="post">
  <%= render "users/user_title", user: post.user, created_at: post.created_at %>
  
  <% if post.post_image.attached? %>
    <%= image_tag post.post_image %>
  <% end %>
  <div class="div-padding">
    <h2><%= post.title %></h2>
    <p><%= post.description %></p>
    <div class="horizontal-div">
      <% if authenticated? and current_user == post.user%>
        <%= link_to edit_user_post_path(current_user, post), data:{ turbo_action: "advance" }, class: "white-button button" do%>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1l1-4l9.5-9.5z"/></g></svg>
        <% end %>
      <% end %>
      <%= button_tag class: "white-button" do%>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path fill="#000000" fill-rule="evenodd" d="M11 14a1 1 0 1 0 2 0V6h2a1 1 0 0 0 .707-1.707l-3-3a1 1 0 0 0-1.414 0l-3 3A1 1 0 0 0 9 6h2v8ZM4 8a1 1 0 0 0-1 1v9a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V9a1 1 0 0 0-1-1h-2a1 1 0 1 0 0 2h1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-8h1a1 1 0 1 0 0-2H4Z" clip-rule="evenodd"/></svg>
      <% end %>
      <%= link_to user_post_path(post.user, post), data: { turbo_action: "advance" }, class: "white-button button" do%>
        <span style="color: black;">
          <%= post.comments.size %>
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" ><path fill="#000000" fill-rule="evenodd" d="M3 2.5A1.5 1.5 0 0 0 1.5 4v6A1.5 1.5 0 0 0 3 11.5h1.5v1.6l2.067-1.462l.194-.138H13a1.5 1.5 0 0 0 1.5-1.5V4A1.5 1.5 0 0 0 13 2.5H3ZM0 4a3 3 0 0 1 3-3h10a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H7.239l-3.056 2.162L3 16v-3a3 3 0 0 1-3-3V4Z" clip-rule="evenodd"/></svg>
      <% end %>
      <turbo-frame id="post-<%= post.id %>-likes">
        <%= render "posts/post_likes", post: post %>
      </turbo-frame>
    </div>
  </div>
</div> 