<turbo-frame id="main_content">
  <% posts ||= @posts%>
  <div class="white-card">
    <div style="display: flex; align-items: center; justify-content: center;">
      <img src="/flame.gif" alt="A gif a flame" style="width: 4rem; height: 4rem;">
      <div>
        <h1 style="margin: 0;"><%= @title %></h1>
        <p style="margin: 0;"><%= @description %></p>
      </div>
    </div>
    <% if @title == "Home Camp" %>
        <%= link_to people_current_follows_path, style: "max-width: 80%; margin-block-start: 1rem;",data:{ turbo_action: "advance", turbo_frame: "main_content" }, class: "white-button button" do%>
          <%= pluralize(current_user.followed_users.count, "Following")%>
        <% end %>
      <% end %>
  </div>
  <% if posts %>
    <div id="posts" style="display: flex; flex-direction: column; align-items: center;">
      <%= paginate posts %>
      <%= render partial: "posts/post", collection: posts, as: :post %>
      <%= paginate posts %>
    </div>
    <div class="spacer"></div>
  <% end %>
</turbo-frame>