<turbo-frame id="main_content">
  <div class="pagination">
    <%= link_to @user, data: { turbo_action: "advance" } do %>
      <span style="padding-block: 0.5rem;">Cancel</span>
    <% end %>
  </div>
  <% post ||= @post %>
  <div class="post">
    <%= link_to "#" do %>
      <div class="title">
        <div class="user">
          <% if post.user.avatar.attached? %>
            <%= image_tag url_for(post.user.avatar) %>
          <% else %>
            <%= image_tag "/default_avatar.png" %>
          <% end %>
          <h4>@<%= post.user.username %></h4>
        </div>
      <p style="padding-inline: 1rem;">2 hours ago</p>
      </div>
    <% end %>
    <div class="div-padding">
      <%= render "form", post: post, action: "Create" %>
    </div>
  </div> 
  <div class="spacer"></div>
</turbo-frame>