<!DOCTYPE html>
<html>
  <head>
    <title>Campfire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-method" content="morph">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/flame.ico">
    <link rel="icon" href="/flame.ico">
    <link rel="apple-touch-icon" href="/flame.ico">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="topbar">
      <img src="/flame.gif" alt="A gif a flame" style="width: 2.5rem; height: 2.5rem;">
      <h1>Campfire</h1>
    </div>
    <%# Dummy h1 to take space behind the title %>
    <h1 style="color: white;">Campfire</h1>
    <div class="horizontal-nav">
      <%= render "users/navbar"%>
      <%# Dummy div to take space behind the navbar %>
      <div style="width: 4rem;"></div>
      <%= yield %>
    </div>
  </body>
</html>
